{{ define "404" }}
{{ template "header" . }}

<body id="page">
	{{ template "site-header" . }}
	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1 class="page-title">404</h1>
					<article class="post">
						<div class="entry-content clearfix">
							404!!!
						</div>
					</article>
				</main>
			</div>
		</div>
	</div>
	{{ template "site-footer" . }}
	{{ template "mobile-menu" . }}

	<script src="/static/js/script.js"></script>
</body>
{{ template "footer" . }}
{{ end }}
