{{ define "home" }}
{{ template "header" . }}

<body>
{{ template "site-header" . }}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {{ range $i, $article := .articles }}
                <article class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="/articles/{{ $article.Slug }}">{{ $article.Title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="/articles/{{ $article.Slug }}">默认</a></span>
                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="{{ $article.CreatedAt | timeFormat }}">{{ $article.CreatedAt | timeFormat }}</time></a></span>
                            <span class="post-author"><a href="#">{{ $article.Author }}</a></span>
                            <span class="comments-link"><a href="#">{{ $article.CommentsCount }} 评论</a></span>
                            <span class="views-count"><a href="#">{{ $article.Hits }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ $article.Desc }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="/articles/{{ $article.Slug }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {{ end }}

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                {{ template "pagination" . }}
            </main>
            <aside class="col-md-4">
                {{ template "widget-recent-posts" . }}
                {{ template "widget-archives" . }}
                {{ template "widget-category" . }}
                {{ template "widget-tag-cloud" . }}
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
</div>

{{ template "site-footer" . }}

{{ template "mobile-menu" . }}

<script src="/static/js/script.js"></script>

</body>
{{ template "footer" . }}
{{ end }}
